<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="assets/css/application.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron p-4">
        <h1 class="h3">Quiz</h1>
        <h2 class="h4 m-0">問題</h2>
        <div class="mb-2" id="now-question">出題まで名前を入力してお待ち下さい</div>
        
        <h2 class="h4 m-0">あなたの回答</h2>
        <div class="mb-2" id="your-answer">...</div>

        <h2 class="h4 m-0">正解</h2>
        <div class="mb-2" id="now-answer">...</div>
      </div>

      <form id="answer-form" class="">
        <input id="input-handle" type="text" class="form-control" placeholder="名前を入力" autofocus />

        <select id="answer" class="custom-select" name="answer"></select>

        <button class="btn btn-primary" type="submit">送信</button>
      </form>

      <div id="chat-text"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script type="text/javascript" src="assets/js/application.js"></script>
  </body>
</html>
